<div class="TrustedOrgCmp">
  <div>
    <span class="trustedHeader">Trusted by</span>
    <hr />
  </div>
  <div class="filter-tabs">
    <button *ngFor="let cat of categories" 
            [class.active]="selectedCategory === cat" 
            (click)="filterClients(cat)">
      {{ cat }}
    </button>
  </div>

  <div class="OrgName">
    <div *ngFor="let client of filteredClients" class="client-card">
        <img [src]="client.image" [alt]="client.name" class="orgLogo" />
        <span class="client-name">{{ client.name }}</span>
    </div>
  </div>
</div>
